.header {
    width: 100%;
    height: 171px;
}

.container {
    width: 1024px;
    margin: 0 auto;
    font-family: 'HelveticaNeueCyr', sans-serif;
}

.content {
    width: 1024px;
    margin: 0 auto;
    font-family: 'HelveticaNeueCyr', sans-serif;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__contacts {
    width: 100%;
    height: 42px;
    padding-left: 692px;
    background-color:  #f0f2f4;
    border-bottom: 1px solid #e2e2e2;
    color:  #424242;
    font-size: 15px;
    font-weight: 700;
}

.header__contacts span {
    margin-top: 5px;
    margin-left: 5px;
}

.header__contacts i {
    margin-left: 13px;
}

.fa-envelope {
    padding-left: 26px;
    font-size: 18px;
}

.fa-mobile-alt {
    font-size: 16px;
    margin-right: 1px;
    margin-top: 1px;
}

.vert-line {
    width: 1px;
    height: 42px;
    background-color: #e2e2e2;
    position: relative;
    left: 20px;
}

.fa-facebook-square {
    color: #1287bf;
}

.fa-facebook-square:hover {
    color: #127fb7;
}

.header__navbar {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar-logo {
    display: flex;
    align-items: center;
}
.header__navbar-logo img {
    width: 74px;
    height: 49px;
    position: relative;
    left: 2px;
}


.header__navbar-heading {
    color: #424242;
    font-size: 37px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 3px;
}

.header__navbar-subheading {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -4px;
    left: 2px;
}

.header__navbar-nav {
    display: flex;
}

.header__navbar-nav li {
    padding-top: 2px;
}

.header__navbar-nav-menu {
    display: flex;
    margin-right: 22px;
}

.header__navbar-nav-menu li {
    margin: 10px;
    color: #424242;
}

.header__navbar-nav-menu-item_active {
    list-style: none;
    padding-right: 5px;
}

.header__navbar-nav-menu-item a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #424242;
    margin: 6px;
}

.header__navbar-nav-menu-item_active a {
    color: #de2b24;
}

.header__navbar-nav-menu-item a:hover {
    color: #de2b24;
}

.button {
    padding: 0 16px;
    width: 171px;
    height: 36px;
    border-radius: 4px;
    background-color:  #de2b24;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
}

.button span {
    font-size: 15px;
    font-weight: 700;
}

.button:hover {
    background-color: #b22b24;
}

.section-1--banner {
    background-image: url("../images/bg1.jpg");
    height: 590px;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    top: 2px;
}

.section-1--banner {
    margin: 0 auto;

}

.banner-text {
    text-align: center;
    font-family: 'HelveticaNeueCyr', sans-serif;
    color: #ffffff;
    padding-top: 171px;
}

.banner-text div:nth-child(1) {
    font-size: 48px;
    font-weight: 700;
}

.banner-text div:nth-child(2) {
    font-size: 30px;
    font-weight: 300;
    margin-top: -5px;
}

.banner-button {
    background-color:  #f8cd53;
    width: 330px;
    height: 69px;
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
    text-transform: uppercase;
    padding-top: 3px;
    cursor: pointer;
}

.banner-button:hover {
    background-color: #e9bf51;
}

.section-2 {
    text-align: center;
}

.section-2-text div:nth-child(1) {
    color: #424242;
    font-size: 36px;
    font-weight: 700;
    margin-top: 99px;
    margin-bottom: -2px;
}

.section-2-text div:nth-child(2) {
    color: #424242;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.gorizot-line {
    background-color:  #424242;
    width: 47px;
    height: 5px;
    margin: 0 auto 46px;
}

.section-2-about {
    display: flex;
    justify-content: space-around;
}


.section-2-about-part1 {
    width: 250px;
}

.section-2-about-part1 div:nth-child(2){
    color: #424242;
    font-size: 22px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 8px;
 }

.section-2-about-part1 div:nth-child(3){
    font-family: 'Open Sans', sans-serif;
    color: #5c5c5c;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.3px;
    padding-bottom: 140px;
}

.section-3 {
    background-color: #de2b24;
    height: 870px;
    margin: 0 auto;
    text-align: center;
    font-family: 'HelveticaNeueCyr', sans-serif;
}

.section-3-text div:nth-child(1) {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: -2px;
    padding-top: 106px;
}

.section-3-text div:nth-child(2) {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 11px;
}

.gorizot-line-2 {
    background-color:  #fff;
    width: 47px;
    height: 5px;
    margin: 0 auto 49px;
}

.section-3-img-line-part-1 {
    display: flex;
}

.section-3-img-line-part-2 {
    display: flex;
}

.project-name-1:nth-child(2n+1) {
     background-color:  #f35e59;
     width: 257px;
     height: 253px;
     color: #ffffff;
     font-size: 26px;
     font-weight: 700;
     display: flex;
     flex-direction: column;
}

.project-name-2:nth-child(n+1) {
    background-color:  #f35e59;
    width: 257px;
    height: 253px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.project-name-img-1 {
    background-image: url("../images/section03/img1.jpg");
    width: 255px;
    height: 253px;
}

.project-name-img-2 {
     background-image: url("../images/section03/img2.jpg");
     width: 255px;
     height: 253px;
}

.project-name-img-3 {
    background-image: url("../images/section03/img3.jpg");
    width: 255px;
    height: 253px;
}

.project-name-img-4 {
    background-image: url("../images/section03/img4.jpg");
    width: 255px;
    height: 253px;
}

.project-name-1 i {
    font-size: 40px;
    padding-top: 73px;
    padding-bottom: 20px;
}

.project-name-1 div:nth-child(3) {
    font-size: 16px;
}

.project-name-2 i {
    font-size: 40px;
    padding-top: 73px;
    padding-bottom: 20px;
}

.project-name-2 div:nth-child(3) {
    font-size: 16px;
}

.section-4 {
    background-color: #2a2a2a;
    height: 490px;
    font-family: 'HelveticaNeueCyr', sans-serif;
    text-align: center;
}

.section-4-text-1 {
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    padding-top: 89px;
    padding-bottom: 20px;
}

.company {
    display: flex;
    justify-content: center;
}

.company a {
    text-decoration: none;
}

.link {
    border: 1px solid #515151;
    border-radius: 1px;
    width: 46px;
    height: 46px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.link:hover {
    border-color: #de2b24;
}

.icon {
    color: #ffffff;
    font-size: 23px;
}

.section-4-text-2 {
    font-family: 'Open Sans', sans-serif;
    color: #cecece;
    font-size: 14px;
    margin-top: 35px;
    margin-bottom: 31px;
}

.email-field {
    border: 0;
    border-radius: 1px;
    background-color:  #515151;
    width: 682px;
    height: 54px;
    margin-bottom: 20px;
}

input::placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #cecece;
    font-size: 14px;
    line-height: 22px;
}

input[type=text] {
    padding: 15px 20px;
    box-sizing: border-box;
    color: #cecece;
    font-weight: 300;
}

.button-subscribe {
    border: 1px solid #515151;
    border-radius: 1px;
    width: 153px;
    height: 53px;
    background-color: #2a2a2a;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    margin-top: 7px;
    cursor: pointer;
}

.button-subscribe:hover {
    border-color: #de2b24;
}

footer {
    background-color:  #515151;
    width: 100%;
    height: 67px;
    color: #cecece;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}


